.container {
  
  max-width: 100%;
  padding: 20px;
  
 
  display: flex;
  background-color: #594255;
}

.user {
  color: #fff;
  width: 33%;
  height: 500px;
  text-align: center;
margin-left: 10px;
  
  font-weight: bold;
  
  
}