

.Home{
  
  display: flex;
  flex-direction: column;
  height: 100%;
}

 .customForm {
  width: 90%;
  
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--color-zero);
  border-style: solid;
  padding: 15px 0px;
  text-align: center;
}


.customTable {
  width: 90%;
  border-collapse: collapse;
  border-width: 2px;
  border-color: var(--color-zero);
  border-style: solid;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: var(--color-zero);
  border-style: solid;
  padding: 5px;
}



.buttonForm{
  background-color: var(--color-zero);
  border: none;
  color: var(--color-base);
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 7px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.buttonForm:hover{
  opacity: 0.6;
}

.inputForm{
  border: 2px solid var(--color-zero);
  border-radius: 4px;
  margin-left: 10px;
}

.tdImg{
  display: flex;
  justify-content: center;
  
}

img{
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
}




