

.Home{
  color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.customForm {
  width: 90%;
  background-color: black;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #DF7401;
  border-style: solid;
  padding: 15px 0px;
  text-align: center;
}


.customTable {
  width: 90%;
  background-color: black;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #DF7401;
  border-style: solid;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #DF7401;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #7ea8f8;
}




