.Total{
  height: 100vh;
  width: 100vw;
}

.HeaderApp {
  height: 10%;
  background-color: #6441a4;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

 
}

.Main{
  height: 85%;
}

.page{
  margin-left: 15px;
  color: azure;
  text-decoration:none;
  
}

.buttonMode{
  background: #6441a4;
  color: white;
  border: #6441a4
}

.footerApp{
  height: 5%;
  background-color: #6441a4;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
