.Total{
  height: 100vh;
  
}

.HeaderApp {
  text-align: center;
  background-color: #DF7401;
  height: 10%;
  
  
  
}

.Main{
  height: 90%;
}

.page{
  margin-left: 15px;
  color: azure;
  text-decoration:none;
  padding-top: 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
